.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.menu-item {
    flex-basis: 45%; 
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .menu-item {
        flex-basis: 90%; 
    }
}

.menu-item h3 {
    font-family: 'Georgia', serif;
    color: #e8491d; 
    margin-bottom: 5px;
}

.menu-item p {
    font-family: 'Arial', sans-serif;
    color: #ffffff; 
    margin-bottom: 5px;
}

.menu-item .price {
    font-weight: bold;
    color: #e8491d; 
}

.menu-item {
    border: 2px solid #e8491d; 
    border-radius: 10px; 
    flex-basis: 45%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #292929; 
    font-family: 'Arial', sans-serif;
    position: relative; 
    overflow: hidden; 
}

.menu-item img {
    width: 100%; 
    height: auto; 
    border-bottom: 2px solid #e8491d; 
    margin-bottom: 10px;
}
.video-container {
    max-width: 800px; 
    margin: 20px auto; 
}
.video-container {
    max-width: 800px; 
    margin: 20px auto; 
    border: 2px solid #e8491d; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

video {
    width: 100%;
    height: auto; 
    display: block; 
}
